.frontImage{
    width: 50%;
    height: 50%;
}



.author {
    text-align: bottom;
}

.random > h3 {
    position: absolute;
    white-space: nowrap;
}

h3:nth-child(1) { top: 0px; left: 000px; }
h3:nth-child(2) { top: 400px; left: 100px; }
h3:nth-child(3) { top: 100px; left: 500px; }
h3:nth-child(4) { top: 140px; left: 50px; }
h3:nth-child(5) { top: 350px; left: -200px; }
h3:nth-child(6) { top: 230px; left: 500px; }
h3:nth-child(7) { top: 550px; left: 600px; }

.house {
    width: 200px;
    height: 200px;
    position: relative;
    left: 15px;
    top: 15px;
}

.blueprint{
    width: 230px;
    height: 230px;
    border: 1px solid #999; /* Border for the house */
    background-image: 
    linear-gradient(0deg, transparent 24%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 26%, transparent 27%, transparent 74%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 76%, transparent 77%),
    linear-gradient(90deg, transparent 24%, rgba(0,0,0,0.1) 25%, rgba(0,0,0,0.1) 26%, transparent 27%, transparent 74%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 76%, transparent 77%);
    background-size: 60px 60px; /* Adjust the grid size */
}

.roof {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 60px solid #b30000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.walls {
    width: 100%;
    height: 70%;
    background: #cc6600;
    position: absolute;
    bottom: 0;
}

.door {
    width: 30px;
    height: 60px;
    background: #663300;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.window {
    width: 30px;
    height: 30px;
    background: #ccffff;
    position: absolute;
    top: 40px;
    left: 20px;
}

.chimney {
    width: 20px;
    height: 50px;
    background: #b30000;
    position: absolute;
    top: -50px;
    right: 20px;
}